$MainColor: #97313a;
$secundaryColor: #e2bea9;
$highlight: #5f6343;
$BtnColor: #f3f3f3;
 
$Background: "../../assets/img/fundoHorizontal.png";
$Couple: "../../assets/img/Casal.jpg";
$PIX: "../../assets/img/PIX.jpg";