$MainColor: #97313a;
$secundaryColor: #e2bea9;
$highlight: #5f6343;
$BtnColor: #f3f3f3;
 
$Background: "../../assets/img/fundoHorizontal.png";
$BackgroundLittle: "../../assets/img/Background-Little.jpeg";
$PIX: "../../assets/img/PIX.jpg";